/* Universal Styling */
* {
  font-size: 1.1rem;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

small {
  font-size: 0.7em;
}

body {
  background-color: #ccc;
  min-height: 101vh;
  display: flex;
  flex-direction: column;
}

hr {
  margin: 1rem 0;
}

h1 {
  text-align: left;
}

h2 {
  margin: 1rem 0;
}

a:hover {
  color: blue;
}

.container {
  width: 90%;
  margin: auto;
}

/* Main Nav Section */

nav {
  background-color: #444;
  padding: 20px;
  margin-bottom: 30px;
}

#logo {
  font-size: 1.5rem;
  color: white;
  text-decoration: none;
}

#navbar a,
#navbar p {
  color: #ccc;
}

#navbar {
  display: flex;
  justify-content: space-between;
}

/* Main Page Content */

#main-content {
  flex-grow: 1;
}

#content-wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 25px;
}

.grid {
  display: grid;
  width: 100%;
  /* grid-template-columns: repeat(3, 1fr); */
  /* grid-gap: 15px; */
}

.card {
  /* border: 1px solid black; */
  /* border-top: 2px solid #222; */
  border-bottom: 2px solid #222;
  background-color: #ccc;
  padding: 20px;
  /* border-radius: 15px; */
  min-height: 200px;
  display: flex;
  flex-direction: row;
}

.card > img {
  padding: 0px 25px;
}

.card-flex {
}

.card:first-child {
  border-top: 2px solid #222;
}

.card:nth-child(odd) {
  background-color: #aaa;
}

/* Form Styling */

.error-page {
  display: flex;
  justify-content: space-around;
  /* border: 1px solid red; */
  height: 101vh;
  text-align: center;
}
form {
  border: 1px solid grey;
  border-radius: 10px;
  padding: 15px;
  margin: auto;
  width: fit-content;
  color: white;
}

.form-element {
  background-color: black;
  border-radius: 10px;
  color: white;
  padding: 10px 10px;
  outline: none;
  border: none;
  margin: 10px 0px;
}

input {
  color: white;
}

input:focus-visible {
  outline: none;
  color: white;
}

.submitBtn {
  background-color: blue;
  outline: none;
  color: white;
  border: none;
  border-radius: 10px;
  padding: 10px 25px;
  width: 100%;
}

.submitBtn:hover {
  background-color: darkblue;
  cursor: pointer;
}

.submitBtn:focus {
  background-color: darkblue;
  outline-offset: 5px;
  outline: 3px solid darkblue;
}

/* Footer Styling */

footer {
  margin-top: 50px;
  padding: 25px;
  background: black;
}

footer > div > p {
  color: white;
}

/* FILTERS */

#sidebarForm {
  width: 200px;
}

.radioBtn {
  color: black;
}

.input-group {
  margin-bottom: 5px;
}

/* Pagination */

.paginator {
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
  color: black;
  margin: 0px 15px;
}

.paginator:hover {
  cursor: pointer;
  background-color: whitesmoke;
  color: black;
}

.paginatorDiv {
  padding: 15px;
  /* border: 1px solid red; */
}

.paginatorDiv > form {
  border: none;
}

/* Validator */

.validate-error {
  font-size: 0.5em;
  color: red;
}

/* FLASH BANNER STYLES */

.flashBanner {
  padding: 10px;
  text-align: center;
  display: none;
}
.flash-error {
  display: block;
  background-color: red;
  color: white !important;
}
.flash-success {
  display: block;
  background-color: green;
  color: black;
}
