/* Main Nav Section */
@import url("navbar.css");

/* Universal Styling */
.z-1 {
  z-index: 100;
}

.z-2 {
  z-index: 200;
}

.z-3 {
  z-index: 300;
}

.z-4 {
  z-index: 400;
}

.z-5 {
  z-index: 500;
}

* {
  font-size: 1.1rem;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* a:visited {
  color: aqua;
} */

small {
  font-size: 0.7em;
}

body {
  background-color: #ccc;
  max-width: 100vw;
  min-height: 101vh;
  display: flex;
  flex-direction: column;
  /* border: 3px solid red; */
}

hr {
  margin: 1rem 0;
}

h1 {
  text-align: left;
}

h2 {
  margin: 1rem 0;
}

a:hover {
  color: #ddd;
}

.container {
  width: 90%;
  margin: auto;
}

/* Main Page Content */

#main-content {
  flex-grow: 1;
}

#content-wrapper {
  max-width: 1024px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 25px;
}

.grid {
  display: grid;
  /* border: 1px solid red; */
  width: 100%;
}

.card {
  /* border: 1px solid black; */
  /* border-top: 2px solid #222; */
  border-bottom: 2px solid #222;
  background-color: #ccc;
  padding: 20px;
  /* border-radius: 15px; */
  display: flex;
  flex-direction: row;
}

.card-img {
  height: 200px;
  width: auto;
}

.card > img {
  padding: 0px 25px;
}

.card-flex {
}

.card:first-child {
  border-top: 2px solid #222;
}

.card:nth-child(odd) {
  background-color: #aaa;
}

/* Form Styling */

.error-page {
  display: flex;
  justify-content: space-around;
  /* border: 1px solid red; */
  height: 101vh;
  text-align: center;
}
form {
  border: 1px solid grey;
  border-radius: 10px;
  padding: 15px;
  margin: auto;
  width: fit-content;
  color: white;
}

.form-element {
  background-color: black;
  border-radius: 10px;
  color: white;
  padding: 10px 10px;
  outline: none;
  border: none;
  margin: 10px 0px;
}

input {
  color: white;
}

input:focus-visible {
  outline: none;
  color: white;
}

.submitBtn {
  background-color: blue;
  outline: none;
  color: white;
  border: none;
  border-radius: 10px;
  padding: 10px 25px;
  width: 100%;
}

.submitBtn:hover {
  background-color: darkblue;
  cursor: pointer;
}

.submitBtn:focus {
  background-color: darkblue;
  outline-offset: 5px;
  outline: 3px solid darkblue;
}

/* Footer Styling */

footer {
  margin-top: 50px;
  padding: 25px;
  background: black;
}

footer > div > p {
  color: white;
}

/* FILTERS */

#sidebarForm {
  display: block;
}

.filter-wrapper {
  display: flex;
  gap: 25px;
}

.radioBtn {
  color: black;
}

.input-group {
  margin-bottom: 5px;
}

/* Pagination */

.paginator {
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
  color: black;
  margin: 0px 15px;
}

.paginator:hover {
  cursor: pointer;
  background-color: whitesmoke;
  color: black;
}

.paginatorDiv {
  padding: 15px;
  /* border: 1px solid red; */
}

.paginatorDiv > form {
  border: none;
}

/* Validator */

.validate-error {
  font-size: 0.5em;
  color: red;
}

/* FLASH BANNER STYLES */

.flashBanner {
  padding: 10px;
  text-align: center;
  display: none;
}
.flash-error {
  display: block;
  background-color: red;
  color: white !important;
}
.flash-success {
  display: block;
  background-color: green;
  color: black;
}

/* ////////////////////////////////////////////// */
/* ----------------  Responsive  ---------------- */
/* ////////////////////////////////////////////// */

@media only screen and (min-width: 1024px) and (max-resolution: 3dppx) {
  .mainNavContainer {
    height: 5rem;
    /* background-color: red; */
  }
}

@media only screen and (min-width: 1024px) {
  .mainNavContainer {
    /* height: 5rem; */
    /* background-color: black; */
  }

  .logo {
    justify-self: left;
  }

  .navLinks {
    display: block;
  }

  #IconContainer {
    display: none;
  }

  #ResponsiveContainer {
    display: none;
  }

  #content-wrapper {
    flex-direction: row;
    justify-content: space-between;
  }

  .filter-wrapper {
    display: flex;
    flex-direction: column;
    gap: 25px;
  }

  .filter-container {
    min-width: fit-content;
  }
}
