<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles.css">
    <script src="../script.js" defer></script>
    <title>PHP REST API</title>
</head>
<body>
<?php 
    include "components/flashBanner.php";
    include "components/navbar.php"; 
?>

    <div class="container" id="main-content">
        <h2>Book Details</h2>
   
        <?php
        foreach ($response['data'] as $row) {
            echo "<img src='http://localhost/Projects/REST_API/uploads/{$row["thumbnail"]}' width='400px' alt=''><br>";
            echo $row['title'] . "<br>";
            echo $row['author'] . '<br>';
            echo $row['pub_year'] . '<br>';
            echo $row['genre'] . '<br><br>';
            echo "<a href=" . "edit.php?id={$row['id']}" . ">Edit</a> | ";
            echo "<a href=" . "../api/post/destroy.php?id={$row['id']}" . ">Delete</a>";
            echo "<hr>";
            
        }

    ?>

    <a href="index.php">Go back</a>
    </div>

    <footer>
        <div class="container">
            I am NOT a graphics designer....
        </div>
    </footer>

</body>
</html>